body{
  /*
  Variables
  */
  --colorGpatterns :rgb(255,0,255);
  --colorConvoys:rgb(0,0,255);
  --colorClosedSwarms:rgb(255,0,0);
  --colorFuzzyClosedSwarms:rgb(255,100,0);
  --colorConvergents:rgb(255,255,0);
  --colorDivergents:rgb(0,255,0);


  margin:0;
  font-family: verdana, arial, sans-serif;
}

header{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  height:80px;
}

header a{
  margin:auto;
}

header img{
  height:50px;
}

div#legende{
  position: absolute;
  height:100%;
  width:250px;
  border-right: 1px solid black;
}

div#chart{
  display: block;
  padding-left: 250px;
}

p{
  margin: 10px;
  text-align: justify;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
.link:hover {
  stroke-opacity: .5;
}

div.btnLegende li{
  list-style-type: none; 
}

div.btnLegende input{
  margin-right: 5px;
}

div.btnLegende label{
  color:#000;
  opacity: 1;
}

div.btnLegende label:hover{
  opacity: 0.8;
}

div.btnLegende label.Gpatterns{
  color:var(--colorGpatterns);
}

div.btnLegende label.Convoys{
  color:var(--colorConvoys);
}
div.btnLegende label.ClosedSwarms{
  color:var(--colorClosedSwarms);
}
div.btnLegende label.FuzzyClosedSwarms{
  color:var(--colorFuzzyClosedSwarms);
}
div.btnLegende label.Convergents{
  color:var(--colorConvergents);
}
div.btnLegende label.Divergents{
  color:var(--colorDivergents);
}


g path.hover{
  stroke-opacity: 0.5;
}




path.Gpatterns{;
  stroke: var(--colorGpatterns);
}

path.Convoys{
  stroke:var(--colorConvoys);
}
path.ClosedSwarms{
  stroke:var(--colorClosedSwarms);
}
path.FuzzyClosedSwarms{
  stroke:var(--colorFuzzyClosedSwarms);
}
path.Convergents{
  stroke:var(--colorConvergents);
}
path.Divergents{
  stroke:var(--colorDivergents);
}
