body{
  margin:0;
  font-family: verdana, arial, sans-serif;
}

header{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  background-color: #5AAFCF;
  height:80px;
}

header a{
  margin:auto;
}

header img{
  height:50px;
}

div#trajectoire{
  height: 100%;
  width: 100%;
  display: flex;
}
div#legende{
  height:90vh;
  width:16%;
  float: left;
}

div#chart{
  width: 84%;
  overflow-x: scroll;
  height: 90vh;
  float: right;
}

p{
  margin: 10px;
  text-align: justify;
}

.node rect {
  cursor: move;
  fill-opacity: .8;
  stroke-linecap : round;
  fill:lightgrey;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .04;
}

div.btnLegende input{
  margin-right: 5px;
}

div.btnLegende label{
  color:#000;
  opacity: 1;
}

label {
  text-align:middle;
  color:black;
}
